
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
        url('../fonts/ProximaNova-Regular.svg#../fonts/ProximaNova-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximanNova-Bold.eot');
    src: url('../fonts/ProximanNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximanNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximanNova-Bold.woff') format('woff'),
        url('../fonts/ProximanNova-Bold.ttf') format('truetype'),
        url('../fonts/ProximanNova-Bold.svg#../fonts/ProximanNova-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}







